#! /bin/bash
[Unit]
Description=sausage-store

[Service]
User=student
StandardOutput=file:/home/student/log/out.log
StandardError=file:/home/student/log/out.log
Environment="REPORT_PATH=/home/student/var/www-data/htdocs/reports"
Environment="LOG_PATH=/home/student/log/"
Environment="LOGGING_LEVEL_ROOT=INFO"
EnvironmentFile=/etc/systemd/system/sausage-store-env    

ExecStart=java \
-Dspring.datasource.url=jdbc:postgresql://rc1b-g1jepkizus0qah86.mdb.yandexcloud.net:6432/devops \
-Dspring.data.mongodb.uri=mongodb://antinitrino:Testusr1234@rc1b-nczpq63snuc5a3z2.mdb.yandexcloud.net:27018/antinitrino?tls=true \
-Dspring.datasource.username=student \
-Dspring.datasource.password=${PSQL_DB_PASSWORD} \
-Dspring.flyway.baselineOnMigrate=true  \
-jar /home/student/sausage-store.jar \

ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
KillMode=process

#CapabilityBoundingSet=CAP_IPC_LOCK CAP_CHOWN CAP_DAC_READ_SEARCH CAP_KILL CAP_NET_ADMIN CAP_SYS_NICE CAP_FOWNER CAP_SETGID CAP_SETUID CAP_SYS_ADMIN CAP_SYS_RESOURCE CAP_BLOCK_SUSPEND
Type=simple
NotifyAccess=main
#PIDFile=/var/run/sausage-store.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
